[submodule "Dodo/lib/assimp"]
	path = Dodo/lib/assimp
	url = https://github.com/assimp/assimp
[submodule "Dodo/lib/imgui/imgui"]
	path = Dodo/lib/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "Dodo/lib/glfw"]
	path = Dodo/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dodo/lib/volk"]
	path = Dodo/lib/volk
	url = https://github.com/zeux/volk.git
[submodule "Dodo/lib/SPIRV-Cross"]
	path = Dodo/lib/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Dodo/lib/vma"]
	path = Dodo/lib/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Dodo/lib/tinyxml2"]
	path = Dodo/lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Dodo/lib/gli"]
	path = Dodo/lib/gli
	url = https://github.com/g-truc/gli.git
[submodule "DodoEditor/lib/nanosvg"]
	path = DodoEditor/lib/nanosvg
	url = https://github.com/memononen/nanosvg
